/* metamorphous-regular - latin */
@font-face {
  font-family: 'Examorphous';
  font-style: normal;
  font-weight: 400;
  src: local('Examorphous'),
       url('fonts/Examorphous.woff2') format('woff2') /* Chrome 26+, Opera 23+, Firefox 39+ */
}